@import "bootstrap";

.split-1 {
  height:444px;
  overflow-y: auto;
  background-color: teal;
  overflow-y: scroll;
}

.split-2 {
  height:444px;
  overflow-y: auto;
  background-color: #e34426;
  overflow: auto;
}

.header {
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: teal;
  width: 100%;
  height: 80px;
  line-height: 50px;
  padding-bottom: 40px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 8px 6px -7px black;
  -moz-box-shadow: 0 8px 6px -7px black;
  box-shadow: 0 8px 6px -6px black;
}

.header-1 {
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #e34426;
  width: 100%;
  height: 80px;
  line-height: 50px;
  padding-bottom: 40px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 8px 6px -7px black;
  -moz-box-shadow: 0 8px 6px -7px black;
  box-shadow: 0 8px 6px -6px black;
}

.custom-button {
  background-color:#fff;
}

.container-fluid {
  padding-top: 10px;
}

.content-blogs {
  padding-top:75px;
}

#header-follow {
  width: 80%;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 10px;
  left: 10%;
  border-radius: 10px;
}

.style_image {
  margin-top: 30px;
  width: 20%;
  display:inline-block;
  border-radius: 20%;
  box-shadow: 0 0 16px 8px #777a7f;
}

.profile-picture {
  padding: 25px;
  height: 400px;
  width: 100%;
  text-align: center;
  opacity: .95;
}

.grid-layout li {
  width: 100px;
  float: left;
  margin: 10px;
}

@support (display:grid) {

}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 3px 0 6px rgba(200,200,200,1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#fff;
    -webkit-box-shadow: inset 3px 0 6px rgba(90,90,90,0.7);
}

$bgDefault      : #858785;
$bgHighlight    : #fff;
$colDefault     : #fff;
$colHighlight   : #858785;
$dropDown       : true;
.navbar {
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; 
    a {
      color: $colHighlight;
      &:hover, &:focus {
        color: $colHighlight; }}}
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: .25rem;
      margin: 0 0.25em;
      border-style:solid;
      border-color:#fff;
      &:not(.disabled) {
        &:hover, &:focus {
          color: $colHighlight; }}}
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover, &:focus, &.active {
            color: $colHighlight;
            background-color: $bgHighlight; }}
        .dropdown-divider {
          border-top-color: $bgHighlight; }}}
    .nav-item.active, .nav-item.show {
      .nav-link, .nav-link:hover, .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .navbar-toggler-icon {
      color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight; }}